<html>
    <head>
        <title>
            <%=locals.title%>
                
            
        </title>
    </head>
    <body>
        <h1>playground</h1>
        <ul>
            <% for(let i=1;i<6;i++){ %>
                <li>
                    <%=i %>
                </li>
                <%}%>
            </ul>
                <% if(3<2){ %>
                    <h1>IT IS TRUE</h1>
                <%}else{%>
               
                    <h1>FALSE</h1>
                <%}%>
                
           
        </6;i++){>
    </body>
</html>