body{
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-family: sans-serif;

}
#page-heading{
    text-align: center;
    margin-top: 25px;
    color: grey;
}
.list{
    background-color: rgb(2, 153, 204);
    height: 5%;
    width: 28%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 34%;
    padding: 1%;
    color: aliceblue;
    font-size: 30px;

}

.form{
    display: flex;
    justify-content:center;
    position: relative;
    top: 10px;
    
   

}
.form1{
    width: 12%;
    height: 18%;
    size: 200px;
}
button{
    position: relative;
    left: 4px;
    background-color: rgb(39, 79, 135);
    color: aliceblue;
}
.delete-button a{
    color: rgb(255, 172, 172);
    background-color:rgb(2, 153, 204);
}
input:focus {
    border: 5px solid rgb(39, 79, 135);

  }
